@media (max-width: 1200px) {
    .center {
        padding-left: 32px;
        padding-right: 32px;
    }

    .header {
        &__title {
            font-size: 48px;
        }

        &__subtitle {
            font-size: 20px;
        }

        &__button {
            width: 200px;
            min-height: 60px;
            font-size: 20px;
        }
    }

    .games {
        &__title {
            font-size: 48px;
        }
    }

    .card {
        &__title {
            font-size: 24px;
        }

        &-top,
        &-bottom {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    .minigames {
        &__title {
            font-size: 48px;
        }
    }

    .card-mini {
        align-items: center;

        &__content {
            width: min(100%, 780px);
        }

        &__img {
            width: 360px;
        }

        &__box {
            max-width: none;
        }

        &__title {
            font-size: 24px;
        }

        &__subtitle {
            padding-top: 12px;
            padding-bottom: 18px;
            font-size: 16px;
            line-height: 20px;
        }

        &__button {
            min-width: 200px;
            min-height: 56px;
            font-size: 20px;
        }
    }
}
